
.productWrapper{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.productImg {
    width: 200px;
    height: 200px;
}
.productTitle{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}